:root {
    --buton-color: #4D5AE5;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --buttons-color-hover: #FFFFFF;
    --buttons-background-color-hover: #4D5AE5;
    --complementary-color: #E5E5E5;
    --complementary-color2: #F4F4FD;
    --primary-font: "Roboto"; 
    --secondary-background: "Raleway";
    
}


body {
    font-family: var(--primary-font);
    background-color: var(--buttons-color-hover);
    color: var(--primary-text-color);
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-bottom: 120px;
}
.centered {
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
}
.list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
 .link {
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.logo-header1 {
    color: var(--buton-color);
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-family: var(--secondary-background);
    font-weight: 800;
    
}
.logo-header2 {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-family: var(--secondary-background);
    font-weight: 800;
}
.container-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* -----MAIN NAV------- */
.main-nav {
    display: flex;
    align-items: center;
}
    


/* navigation */
.header-list {
    display: flex;
    margin-left: 77px;
}
    

.header-item {
    margin-right: 40px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-list .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

    
.nav-link  {
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    
    
}
.nav-link:hover,
.nav-link:focus {
    color: var(--secondary-text-color);
}
.nav-link:active {
    color: var(--buton-color);
}

/* authefication */

.authefication {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.authefication:hover,
.authefication:focus {
    color: var(--buttons-background-color-hover);
}
.authefication-list  {
    display: flex;
    margin-left: auto;
    
}
.authefication-list .authefication-item + .authefication-item {
    margin-left: 40px;
}


/* hero */

.hero {
    background-color: var(--primary-text-color);
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
}
.hero-title {
    color: var(--buttons-color-hover);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 48px;
    
    
    
}

.button-hero {
    background-color: var(--buton-color);
    color: var(--buttons-color-hover);
    font-size: 16px;
    letter-spacing: 0.03em;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.18;
    border-radius: 4%;
    cursor: pointer;
    display: block;
    min-width: 170px;
    margin: 0 auto;
    padding: 16px 32px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.button-hero:hover,
.button-hero:focus {
    background-color: var(--buton-color);
    color: var(--buttons-color-hover);
}
.button-hero:active {
    background-color: #404BBF; 
    color: var(--buttons-color-hover);
}

/* section features */

.features {
    padding-bottom: 120px;
    padding-top: 120px;
}

.features-list {
    display: flex;
    
}
.features-item {
    margin-right: 24px;
    
}
.features-item:last-child {
    margin-right: 0;
}


.features-header {
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-family: var(--primary-font);
    font-weight: 700;
    margin-bottom: 8px;
    

}
.features-paragraph {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: var(--primary-font);
}
/* section What are we doing */

.what-team-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-family: var(--primary-font);
    font-weight: 700;
    margin-bottom: 72px;
}

.what-list {
    display: flex;
}
.what-item {
    margin-right: 24px;
}
.what-item:last-child {
    margin-right: 0;
}
.section-what {
    background-color: var(--buttons-color-hover);
    

}

/* section team */

.team {
    background-color: var(--complementary-color2);
    padding-bottom: 120px;
}
.content-team {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-header {
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-family: var(--primary-font);
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    
}
.team-paragraph {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: var(--primary-font); 
    text-align: center;
    
}
.team-list {
    display: flex;
}
.team-item {
    margin-right: 24px;
}
.team-item:last-child {
    margin-right: 0;
}

/* footer-logo */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.web-footer {
    color: var(--buton-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: var(--secondary-background);
    font-weight: 800;
}


.studio-footer {
    color: var(--complementary-color2);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: var(--secondary-background);
    font-weight: 800;
    
    
}
/* footer */
.footer-link {
    padding-bottom: 16px;
}
.footer {
    background-color: var(--primary-text-color);
    
}
.footer-paragraph {
    color: #E7E9FC;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: var(--primary-font);
    width: 264px;
}





/* buttons portfolio.html */


.button-all:hover,
.button-all:focus,
.button-website:hover,
.button-website:focus,
.button-app:hover,
.button-app:focus,
.button-design:hover,
.button-design:focus,
.button-marketing:hover,
.button-marketing:focus {
    color: var(--buttons-color-hover);
    background-color: var(--buttons-background-color-hover);
    cursor: pointer;
    border: none;
    
}
.button-all {
    color: var(--buton-color);
    border: none;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4%;
    
}

.button-website {
    color: var(--buton-color);
    border: none;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4%;
}
 
.button-app {
    color: var(--buton-color);
    border: none;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4%;
}

.button-design {
    color: var(--buton-color);
    border: none;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4%;
}
 
.button-marketing {
    color: var(--buton-color);
    border: none;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4%;
}



/* section portfolio list */
.potfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.title-portfolio-list {
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-link {
    text-decoration: none;
}
.filter-name {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.potfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.butons-item {
    margin-right: 24px;
}
.butons-item:last-child {
    margin-right: 0;
}
.portfolio-img {
    display: flex;
    flex-wrap: wrap;
}

.content-portfolio-cards {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border: 0.5px solid #F4F4FD;
    border-top: none;
}

.portfolio-item-img {
    margin-bottom: 48px;
    margin-right: 24px;
    width: 360px;
}

.portfolio-item-img:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-item-img:nth-child(3n) {
    margin-right: 0px;
}
































